.table {
    border: 2px solid #408f41;
    background: #eee;
    border-radius: 5px;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    grid-auto-rows: min-content;
    box-shadow: #a8bac1 0px 0px 8px;
    color: #eee;
    margin: 50px;
  }
  
  .table:hover {
    border: 2px solid #999;
  }
  
  .tDisplay {
    background: #55b557;
    grid-column: 1;
    grid-row: 1;
    min-width: 50px;
    min-height: 50px;
    padding: 2px;
    overflow: hidden;
  }
  
  .cDisplay {
    background: #55b557;
    grid-column: 2;
    grid-row: 1;
    padding: 2px;
    overflow: hidden;
    font-size: 3rem;
  }
  
  .statusButton {
    grid-column: 1 / span 2;
    grid-row: 2;
    background: #459d46;
    padding: 2px;
    overflow: hidden;
    border: none;
    color: #eee;
  }